.about-container {
  background-color: var(--white);
}

.about-banner {
  height: 100vh;
  justify-content: center;
  position: relative;
}

.about-image {
  width: 100%;
  height: 100vh;
  display: block;
  background: url("../../assets/photos/about-cover.jpg") no-repeat center center;
  background-size: cover;
}

.about-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: solid 0.25rem var(--brown);
  height: 4.5rem;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  color: var(--white);
}

.about-content {
  padding: 3rem 0 3.5rem;
  text-align: center;
  max-width: 65%;
  margin: auto;
  background-color: var(--white);
}

.about-container p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.about-container p:last-child {
  padding-bottom: 0;
}

.about-container a {
  color: var(--brown);
  text-decoration: none;
}

.about-container a:hover {
  color: var(--light-brown);
}

.about-team {
  width: 100%;
  background-color: var(--lighter-gray);
  padding: 2rem 3rem 10rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about-gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 0 2rem 2rem;
  gap: 2rem;
}

.about-gallery img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.about-gallery img:nth-child(2) {
  grid-column: 2 / 4;
}

@media screen and (max-width: 37rem) {
  .about-banner {
    height: 60vh;
  }
  .about-image {
    height: 60vh;
  }

  .about-bar {
    height: 7rem;
    padding: 1rem 2rem 1rem;
  }

  .about-gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 0;
    gap: 0;
  }
}
