.footer-container {
  background-color: var(--gray);
  align-items: center;
  justify-content: center;
  z-index: 80;
  position: relative;
  display: block;
}

.footer-conditions {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  padding-top: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.footer-conditions-link {
  color: var(--white);
  text-decoration: none;
}

.footer-conditions-link:hover {
  color: var(--lighter-brown);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.copyright p {
  font-size: 0.9rem;
  color: var(--white);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.copyright a {
  color: var(--white);
  text-decoration: none;
}

.copyright a:hover {
  color: var(--lighter-brown);
}

@media screen and (max-width: 39rem) {
  .footer-conditions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer-conditions-link {
    display: block;
    padding-bottom: 0.5rem;
    font-weight: bold;
  }
}
