.main-menu {
  width: 100%;
  display: flex;
}

.menu-list {
  min-width: 17rem;
  height: 100%;
  margin: 2rem;
  background-color: var(--brown);
  border-radius: 0.5rem;
}

.nav-menu {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.5rem 1.5rem 2rem;
  transition: 0.2s;
}

.menu-item {
  color: var(--white);
  transition: 0.2s;
  list-style-type: none;
  cursor: pointer;
  padding-top: 1.3rem;
}

.menu-item:hover {
  color: var(--lighter-brown);
}

.hidden {
  display: none;
}

.inside-list {
  padding-left: 2rem;
}
