.main-menu {
  width: 100%;
  display: flex;
  background-color: var(--white);
}

.menu-list {
  min-width: 17rem;
  height: 100%;
  margin: 2rem;
  background-color: var(--brown);
  border-radius: 0.5rem;
}

.nav-menu {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.5rem 1.5rem 2rem;
  transition: 0.2s;
}

.nav-menu li {
  color: var(--white);
  transition: 0.2s;
  list-style-type: none;
  cursor: pointer;
  padding-top: 1.3rem;
}

.nav-menu li:hover {
  color: var(--lighter-brown);
}

.inside-list {
  display: none;
}

.inside-list.active {
  display: block;
  padding-left: 2rem;
}

.menu-arrow-icon {
  display: inline-block;
  margin-left: 0.75rem;
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.menu-arrow-icon.active {
  transform: rotate(0deg);
}

@media screen and (max-width: 70rem) {
  .menu-list {
    min-width: 15rem;
    margin: 2rem 0 0 2rem;
  }
  .nav-menu {
    font-size: 1.1rem;
    font-weight: bolder;
    padding: 0.5rem 1.3rem 2rem;
    transition: 0.2s;
  }
}

@media screen and (max-width: 38rem) {
  .main-menu {
    display: block;
    padding-top: 2rem;
  }

  .menu-list {
    min-width: 15rem;
    margin: 0 2rem 0;
  }
}
