.menu-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.menu-card-content h1 {
  font-size: 2.5rem;
  color: var(--brown);
}

.menu-card-content h1::after {
  content: "";
  display: block;
  left: 0;
  height: 0.1rem;
  min-width: 100%;
  background-color: var(--light-brown);
  margin: 1.2rem 0rem 1.5rem;
}

.menu-card-item {
  display: flex;
  padding-bottom: 1rem;
}

.menu-card-item h2 {
  align-self: center;
  padding-right: 1rem;
  font-size: 1.3rem;
}

.menu-card-item p {
  align-self: center;
  padding-top: 0.2rem;
  padding-right: 2rem;
  color: var(--light-brown);
}

.menu-card-image {
  max-width: 17rem;
  max-height: 17rem;
  margin: 0 1.5rem;
}

@media screen and (max-width: 80rem) {
  .menu-card-container {
    display: block;
    padding: auto;
  }

  .menu-card-item p {
    padding-right: 0rem;
  }

  .menu-card-image {
    max-width: 100%;
    max-height: 80rem;
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 65rem) {
  .menu-card-item {
    display: block;
  }
}
