@import 'src/scss';

.impact-modal {
    position: relative;

  .x-close {
    top: 1.25rem;
    right: 1.5rem;
    position: absolute;
  }
  
  img {
    width: 30rem;
    margin-bottom: 4rem;
  }
  
  .content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $primary;
    color: $white;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    
        p {
            font-size: 1.1rem;
        }
    }

    .arrows {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 45%;
        padding: 0.75rem;
        z-index: 50;

        i {
            font-size: 0.9rem;
            color: $white;
            align-self: center;
        }
    }
}
  
  @media screen and (max-width: $layout-breakpoint-small) {
    .impact-modal img {
      width: 20rem;
    }
  }
  