@import 'src/scss';

.search-form {
    display: flex;

    input {
        font-size: 1.1rem;
        color: $gray-300;
        border-radius: 1.5rem 0 0 1.5rem;
        border: solid 0.1rem $gray-200;
        cursor: text;
        transition: 0.2s;

        &::placeholder {
            padding-left: 1.5rem;
        }
          
        &:focus {
            left: 1.5rem;
            border: solid 0.1rem $primary;
        }
          
        &:hover {
            border: solid 0.1rem $secondary;
        }
    }
      
    button {
        border-radius: 0 1.5rem 1.5rem 0;
        border: solid $primary;
        padding: 0.7rem 1.3rem 0.7rem 0.9rem;
        background-color: $primary;
        cursor: pointer;
        transition: 0.2s;
        height: 3rem;
        
        &:hover {
            background-color: $secondary;
            border: solid $secondary;
        }
        
        i {
            font-size: 1rem;
            color: $white;
            height: 100%;
        }
    }
}
  