@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

.navbar {
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.logo {
  height: 4rem;
  padding-left: 3rem;
  padding-right: 2rem;
  fill: #493627;
  transition: 0.2s;
}

.menu-icon {
  display: none;
}

.nav-list {
  display: flex;
  padding-right: 3rem;
}

.nav-item {
  display: flex;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  display: flex;
  font-size: 1rem;
  color: #493627;
  align-items: center;
  text-decoration: none;
  padding: 0 1.3rem 0 1.3rem;
  height: 100%;
  transition: 0.2s;
}

.nav-link:hover {
  color: #b99657;
}

.fa-caret-down {
  padding-left: 10px;
}

.overlay {
  display: none;
}

@media screen and (max-width: 50rem) {
  .menu-icon {
    display: block;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    margin-right: 3rem;
    padding: 2rem;
  }

  .line {
    height: 0.25rem;
    width: 1.75rem;
    background-color: #493627;
    transition: 0.3s;
    border-radius: 1rem;
  }

  .top {
    transform: none;
    margin-bottom: 0.3rem;
  }

  .active .top {
    transform: rotate(-135deg);
    margin-bottom: -0.25rem;
  }

  .active .middle {
    opacity: 0;
  }

  .bottom {
    transform: none;
    margin-top: 0.3rem;
  }

  .active .bottom {
    transform: rotate(135deg);
    margin-top: -0.25rem;
  }

  .nav-list.mobile {
    display: block;
    position: absolute;
    background-color: #b99657;
    height: 100vh;
    width: 25rem;
    right: 0;
    top: 4.51rem;
    padding: 2rem 2rem 1rem 2rem;
    transform: initial;
    transition: 0.2s;
    opacity: 1;
    box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.05);
    z-index: 90;
    overflow: hidden;
  }

  .nav-list {
    display: none;
    opacity: 0;
  }

  .nav-link {
    margin-bottom: 2rem;
    color: #fff;
    transition: 0.2s;
  }

  .nav-link:hover {
    color: #493627;
  }

  .overlay.active {
    display: flex;
    position: absolute;
    top: 4.5rem;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.25;
    transition: 0.2s;
  }
}
