@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --brown: #8f6d2f;
  --gray: #242424;
  --light-gray: #f2f0eb;
  --light-brown: #bc9856;
  --lighter-brown: #e6d3af;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
