%centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%centered-content {
    padding: 3rem 0 3rem;
    text-align: center;
    max-width: 65%;
    margin: auto;
}

%brown-container {
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: $primary;
}

%form {
    appearance: none;
    background-color: $white;
    border: .06rem solid $gray-300;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    height: 3rem;
    line-height: normal;
    margin-top: 0.5rem;
    padding: 0.5rem 0.8rem;
    width: 100%;
    transition: 0.2s;

    &:focus {
        border: none;
        outline: 0.13rem solid var(--brown);
    }
}

%error {
    color: $danger;
    font-size: 0.8rem;
    margin-top: 0.3rem;
}