// COLORS
    
// Grayscale
$black: #000000 !default;
$gray-300: #242424 !default;
$gray-200: #767676 !default;
$gray-100: #f2f0eb !default;
$white: #ffffff !default;

// Brand
$primary: #8b6d35 !default;
$secondary: #b69861 !default;
$tertiary: #f7e6c7 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;


// TYPOGRAPHY
$tiny: 0.8rem;
$small: 0.9rem;
$medium: 1rem;
$large: 1.1rem;
$big: 1.2rem;
$subheadline: 1.5rem;
$headline: 2rem;
$subtitle: 2.5rem;
$title: 3rem;
$largeTitle: 4rem;

// MEDIAS
$smaller-screen: 30rem;
$mobile-screen: 40rem;
$medium-screen: 45rem;
$large-screen: 55rem;
$xLarge-screen: 70rem;
$largest-screen: 80rem;