@import 'variables';
@import 'mixins';
@import 'extends';

:root {
  --black: #000000;
  --white: #ffffff;
  --brown: #8f6d2f;
  --gray: #242424;
  --warning: #dc3545;
  --light-gray: #767676;
  --lighter-gray: #f2f0eb;
  --light-brown: #bc9856;
  --lighter-brown: #e6d3af;
  /////////////////////////////
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

::selection {
  color: var(--white);
  background: var(--brown);
}

// @extend .input;

// @mixin input($isAuto: true) {
//@include input()
//@include input(true)