@import 'variables';
@import 'mixins';
@import 'extends';

:root {
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

::selection {
  color: $white;
  background: $primary;
}

// @extend .input;

// @mixin input($isAuto: true) {
//@include input()
//@include input(true)