@import 'src/scss';

.banner {
    display: grid;
    height: 20.8rem;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    background-color: $gray-100;
    margin: 0 auto 0;
    @include fadeIn(1s, alternate);

    .content {
        text-align: center;
        padding: 5rem;

        h1 {
            font-size: $headline;
            color: $primary;
        }
        
        p {
            font-size: $big;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }
    
        .button-link {
            text-decoration: none;
        }
    }
}

  
@media screen and (max-width: $large-screen) {   
    .banner {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
        .content {
            padding: 4rem 2rem 4rem;
        }
    }    
}
  