@import 'src/scss';

.banner {
    width: 100%;
    height: 100%;
    background-color: $white;

    .grid {
        display: grid;
        grid-template-columns: 2fr 2fr;
        background-color: $gray-100;
        margin: 0 auto 0;

        .content {
            text-align: center;
            padding: 5rem 5rem 5rem;

            h1 {
                font-size: $headline;
                color: $primary;
            }
            
            p {
                font-size: $big;
                padding-top: 1rem;
                padding-bottom: 2rem;
            }
      
            .button-link {
                text-decoration: none;
            }
        }
      }
  }
  
@media screen and (max-width: $large-screen) {
    .banner {
        .grid {
            height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        
            .content {
                text-align: center;
                padding: 4rem 2rem 4rem;
            }
        }
    }
}
  